.app-container{
    position: absolute;
    height: 100%;
    width: 100%;

    .main-content{
        overflow: auto;
    }
}

.section{
    &-1{
        background-image: url(https://sonurai.com/wallpaper/TowerBridgeVideo_EN-GB8904406628_th.jpg);
        background-size: cover;
        min-height: 800px;
    }
}